@font-face {
  /* Font obtained from: http://www.dafont.com/plane-crash.font */
  font-family: "PlaneCrash";
  src: url("../fonts/PlaneCrash.ttf");
}

#content {
  border:2px solid #999;
  padding:10px;
  border-radius: 25px;
  margin-left:auto;
  margin-right:auto;
  width: 75%;
}
.titlebox {
  float:left;
  padding:0 5px;
  margin:-30px 0 0 30px;
  background:#fff;
  font-family: "PlaneCrash", serif;
  font-size: xx-large;
}

.collapse {
  font-size: xx-large;
}

td {
  border:1px solid black;
  padding:10px;
}

table {
  width: 50%;
  margin-right:auto;
}
