<html ng-app="servicetesting">
  <head>
    <link href='../stylesheets/main.css' rel='stylesheet' type='text/css'>
    <link href='../stylesheets/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-ui-router.min.js"></script>

    <script src="../js/servicetesting/servicetesting.js"></script>
    <script src="../js/servicetesting/servicetesting_redis.js"></script>
    <script src="../js/servicetesting/servicetesting_mysql.js"></script>

    <title>Testing - Used with docker for other service connections</title>
</head>
<body>
  </br></br>
  <div id="content">
    <div id="titlebox">service testing</div>
    </br></br>

    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li><a ui-sref="redis">redis</a><li>
          <li><a ui-sref="mysql">mysql</a><li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="span12">
        <div class="well" ui-view></div>
      </div>
    </div>

  </div>
</body>
</html>
