<html>
  <head>
    <link  href='../stylesheets/main.css' rel='stylesheet' type='text/css'  >
    <script src="../js/angular.min.js"></script>
    <script src="../js/main.js"></script>
    <title>Testing - Used with docker for other service connections</title>
</head>
<body>
  </br></br>
  <div ng-app="servicetesting" ng-controller="specifics" id="content">
    <div id="titlebox">service testing</div>
    </br></br>
    <div class="subcontent">
    <div class="subtitlebox">redis</div>
    <table>
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
      <tr ng-repeat="data in redisData">
        <td>{{data.key}}</td>
        <td>{{data.value}}</td>
        <td><input type="submit" ng-click="removeRedisItem(data.key)" value="Remove this item" /></td>
      </tr>
    </table>
    <form>
      Key: <input type="text" ng-model="newdata.key" />
      Value: <input type="text" ng-model="newdata.value" />
      <input type="submit" ng-click="addRedisItem(newdata.key, newdata.value)" value="Add an item" />
    </form>
  </div>
  </div>
</body>
</html>
